# udev rules to set the access rights of CCID smart card readers
# so they can be used by pcscd

# If not adding the device, go away
ACTION!="add", GOTO="asedriveiiie_rules_end"
SUBSYSTEM!="usb", GOTO="asedriveiiie_rules_end"
ENV{DEVTYPE}!="usb_device", GOTO="asedriveiiie_rules_end"

ATTRS{idVendor}=="0dc3", ATTRS{idProduct}=="0802", GROUP="pcscd"
ATTRS{idVendor}=="0dc3", ATTRS{idProduct}=="1104", GROUP="pcscd"

# All done
LABEL="asedriveiiie_rules_end"
